!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Voting'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Voting'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    :javascript
      window.fayeHost = '#{FAYE_HOST}'
    %script{src: "//#{FAYE_HOST}/faye.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .wrap
      %header
        = render 'layouts/navigation'
      .container
        = render 'layouts/messages'
        = yield
    .footer
      .text-center
        Developed by:
        = link_to 'Viktor Oleksyn', 'http://ua.linkedin.com/in/bartezic/en', target: :_blank
